{% load static  %}
{% block content %}
<html>
<head>
	<title>CSSO</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href="{% static 'Regna/css/style.css' %}" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

	<div style="position: absolute;left:30%;right:30%;top: 20%;bottom: 20%;;">
		<form class="form" action="#login" method="post">
			{% csrf_token %}
			<h1>Ofertas CiC Login</h1>
			<label for="email">Usuário: </label><input value="{{email}}" class="form-control" id="email" name="email" autofocus required>
			<label for="senha">Senha: </label><input class="form-control" id="senha" name="senha" required type="password">
			<br/>
			<div>
			<button class="form-control btn btn-primary col-3" type="submit">Entrar</button>
			<a href="{% url 'cadastro' %}"><button class="form-control btn btn-primary col-3" >Cadastrar</button></a>
			</div>
		</form>
	</div>
</body>
</html>
{% endblock %}